.create-group-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  transition: all 0.3s ease;
  margin-top: 25px;
}
.groups-list-container {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.groups-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.groups-list h1 {
  margin-bottom: 35px;
}

.group-item {
  background-color: #f8f9fa;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.group-name {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.group-description {
  font-size: 16px;
  margin: 0 0 10px 0;
}

.group-info {
  font-size: 14px;
  color: #555;
  display: flex;
  justify-content: space-between;
}

.edit-button,
.delete-button,
.add-post {
  margin-right: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.edit-button {
  background-color: #007bff;
  color: #fff;
}

.edit-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
}

.delete-button:hover {
  background-color: #c82333;
}

.add-post {
  background-color: #098056;
  color: #fff;
}
.add-post:hover {
  background-color: #086e4a;
}
/* Responsive styles */
@media (max-width: 768px) {
  .group-item {
    padding: 15px;
  }

  .group-name {
    font-size: 20px;
  }

  .group-description {
    font-size: 14px;
  }

  .group-info {
    font-size: 12px;
    flex-direction: column;
    align-items: flex-start;
  }

  .group-info span {
    margin-bottom: 5px;
  }
}

@media (max-width: 480px) {
  .group-item {
    padding: 10px;
  }

  .group-name {
    font-size: 18px;
  }

  .group-description {
    font-size: 12px;
  }

  .group-info {
    font-size: 10px;
  }
}
