body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: unset;
}
/* Container Break points */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* Tablets and larger devices */
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

/* Desktops and larger devices */
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

/* Large desktops and larger devices */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
